<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Servicios</title>
    </head>

    <body>
        <nav style="text-align: center;">
            <h1>Servicios</h1>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'cliente_list' %}">Clientes</a>
            <a href="{% url 'servicio_list' %}">Servicios</a>
            <a href="{% url 'pedido_list' %}">Pedidos</a>
        </nav>

        <main>
            {% block contenido %}
            {% endblock contenido %}
        </main>
    </body>

</html>