{% extends 'servicios/base.html' %}

{% block contenido %}
    <h1>Clientes</h1>

    <button><a href="{% url 'cliente_create' %}">Crear nuevo cliente</a></button>

    {% for cliente in object_list %}
        <p>{{ cliente }}
            | <a href="{% url 'cliente_detail' cliente.id %}">👁️‍🗨️</a>
            | <a href="{% url 'cliente_update' cliente.id %}">✏️</a>
            | <a href="{% url 'cliente_delete' cliente.id %}">🗑️</a>
        </p>
    {% empty %}
        <p>No hay registros</p>
    {% endfor %}
{% endblock contenido %}